@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Kanit:ital,wght@0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(79, 83, 83, 0.397);
  backdrop-filter: blur(2px);
  font-family: "Kanit", sans-serif;
  color: white; }
  .header ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem; }
    .header ul li {
      list-style: none; }

.aside {
  background-color: rgba(79, 83, 83, 0.397);
  backdrop-filter: blur(2px);
  min-height: 100vh;
  padding: 0.2rem 1rem;
  position: fixed;
  top: 0; }
  .aside svg {
    fill: white; }
  .aside .asideLogo {
    width: 2.5rem; }
  .aside ul {
    list-style: none; }
    .aside ul li {
      width: 1.8rem;
      margin-top: 2rem; }

.main {
  border: solid red 0px; }

.primeraSeccion {
  font-family: "Kanit", sans-serif;
  background: #f6031c;
  background: radial-gradient(circle, #f6031c 0%, #a22607 100%);
  padding: 0rem 0 0 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .primeraSeccion h1 {
    font-size: 21rem;
    background-image: url(/assets/img/adv5.webp);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: imagenes 0.6s 5 ease-out; }
  .primeraSeccion a {
    width: 2rem; }
    .primeraSeccion a svg {
      fill: black;
      animation: flecha 1s infinite linear; }

@keyframes imagenes {
  0% {
    /* background-position-y:0%; */
    background-image: url(/assets/img/adv3.webp); }
  50% {
    background-image: url(/assets/img/adv2.webp); }
  90% {
    background-image: url(/assets/img/adv4.webp); }
  100% {
    background-image: url(/assets/img/adv5.webp); } }

@keyframes flecha {
  0% {
    filter: drop-shadow(0px 0px 0px #faf8f8); }
  50% {
    filter: drop-shadow(0px 0px 20px #faf8f8) drop-shadow(0px 0px 30px #d7fd00) drop-shadow(0px 0px 40px #fbff00); } }
