@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Kanit:ital,wght@0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(79, 83, 83, 0.397);
  backdrop-filter: blur(2px);
  font-family: "Kanit", sans-serif;
  color: white; }
  .header ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem; }
    .header ul li {
      list-style: none; }

.aside {
  background-color: rgba(79, 83, 83, 0.397);
  backdrop-filter: blur(2px);
  min-height: 100vh;
  padding: 0.2rem 1rem;
  position: fixed;
  top: 0; }
  .aside svg {
    fill: white; }
  .aside .asideLogo {
    width: 2.5rem; }
  .aside ul {
    list-style: none; }
    .aside ul li {
      width: 1.8rem;
      margin-top: 2rem; }

.main {
  border: solid red 0px; }

.primeraSeccion {
  font-family: "Kanit", sans-serif;
  background: RED;
  padding: 0rem 0 0 6rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .primeraSeccion h1 {
    font-size: 20rem;
    color: antiquewhite; }
