.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(79, 83, 83, 0.397);
    backdrop-filter: blur(2px);
    font-family: $fuentePrincipal;
    color: white;
    ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        li{
            list-style: none;
        }
    }
}