
html{
    scroll-behavior: smooth;
}

.header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:$colorHeaderAside;
    backdrop-filter: blur(2px);
    padding: 0.5em;
    ul {
        display: flex;
        justify-content: space-evenly;
        li{
            list-style: none;
            svg{
                width: 2rem;
                fill: white;
            }
        }
    }
}