
.main{
    // padding: 8rem;
    border: solid red 0px;
}

.primeraSeccion{
    font-family: $fuentePrincipal;
    background: RED;    
    padding:0rem 0 0 6rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 20rem;
        color: antiquewhite;
    }
}