
.seccion {
    font-family: $fuentePrincipal;
    height: 100vh;
    padding: 0rem 0 0 4rem;
    overflow: hidden;
    
}

.primeraSeccion {
    background: rgb(246, 3, 28);
    background: radial-gradient(circle, rgba(246, 3, 28, 1) 0%, rgba(162, 38, 7, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 21rem;
        background-image: url(/assets/img/adv1.jpeg);
        background-size: cover;
        background-clip: text;
        background-position-y:100px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(7px 0px 3px white) 
        drop-shadow(7px 0px 20px rgba(248, 248, 248, 0.392));
        animation: imagenes 4s 1 cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    a {
        width: 2rem;

        svg {
            fill: black;
            animation: flecha 1s 4s infinite linear;
        }
    }
}

.segundaSeccion {
    background-image: url(/assets/img/fondo04.jpg);
    background-size: cover;
    display: flex;
    padding: 0;
    position: relative;
    svg{
        height: 100%;
        right:30rem;
        position: absolute;
        fill: rgba(226, 131, 7, 0.384);
        z-index: 1;

    }
}

.terceraSeccion{
    background-image: url("/assets/img/fondo06.jpg");
    @extend .segundaSeccion;
    padding-left: 5em;
}

.cuartaSeccion{
    background-image: url("/assets/img/fondo08.jpg");
    @extend .segundaSeccion;
}

.quitaSeccion{
    background-image: url("/assets/img/fondo09.jpg");
    @extend .terceraSeccion;
}

.sectaSeccion{
    background-image: url("/assets/img/fondo10.jpg");
    @extend .cuartaSeccion;
}

.imgPersonaje {

    width: 50%;
    filter: drop-shadow(0px 0px 120px rgba(0, 255, 247, 0.662));
    z-index: 2;
    img {
        width: 100%;
        object-fit: cover;

    }
}

.infoPersonaje {
    width: 50%;
    padding:1rem 0.5em 0 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    strong {
        font-size: 3rem;
        border-image: radial-gradient(rgb(247, 0, 173), transparent) 1;
        border-bottom: solid 5px;
        letter-spacing: 0.1em;
        animation: nombrePersonaje 3s infinite linear;
    }

    iframe {
        width: 100%;
        height: 15rem;
        border-radius: 1rem;
        filter: drop-shadow(0px 20px 10px  rgba(0, 255, 247, 0.463));
    }
}

.efectoGroot{
    filter: drop-shadow(0px 0px 10px rgba(246, 255, 0, 0.662));

}
